@import "../../../assets/style/mixins.scss";

.table-filter {

    input {
        height: 2.5rem;
        width: 15rem;
        padding: .6rem 0;
        border-radius: .3rem;
        border: none;
        // border-bottom: solid 3px black;
        background: $mainColor;
        color: $neutralLight;
        padding: .5rem;

        &::placeholder {
            color: $neutralLight;
            opacity: 1;
            font-size: .8rem;
        }

        &:hover, &:focus {
            &::placeholder {
                opacity: 0.8;
            }
        }
    }

}