@import "../../assets/style/mixins.scss";

.employee-form {
  display: flex;
  flex-flow: column wrap;
  gap: 0.8rem;
  max-width: fit-content;

  :focus-visible {
    outline: 2px solid $mainColor;
  }

  // GENERAL
  .form-group {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
  }

  .fields {
    display: flex;
    align-items: flex-end;
    max-width: rem(400);
    align-self: flex-end;
    flex-grow: 1;
    border-bottom: $neutralDark solid 1px;

    &.error {
      border-bottom: red solid 2px;

      label {
        color: red;
      }

      :focus-visible {
        outline: 2px solid red;
      }
    }

    &:hover {
      background-color: $secondaryColor;
      border-bottom: transparent solid 1px;
    }

    label {
      min-width: 6rem;
      font-size: 0.8rem;
      text-transform: uppercase;
    }

    input,
    select {
      height: 2.5rem;
      flex-grow: 1;
      background: transparent;
      border: none;
      font-size: 1.2rem;
      color: $mainColor;

      option {
        background: $neutralLight;
      }
    }
  }

  .form-error {
    font-size: 0.8rem;
    font-style: italic;
    margin-top: -1rem;
  }

  .main-btn {
    margin-top: 1rem;
    align-self: flex-end;
  }

  // DATE PICKERS
  .react-datepicker__input-container {
    display: flex;
  }

  // ADDRESS BLOCK
  .address {
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 0.5rem 1rem 1rem 1rem;
    margin: 1rem 0;
    gap: 0.8rem;
    background-color: white;
    border: none;

    // :focus-visible {
    //   outline: 2px solid lightgray;
    // }

    legend {
      font-size: 0.8rem;
      text-transform: uppercase;
    }

    .fields {
      width: rem(400);
    }

    // .zipCode {
    //   input {
    //     max-width: 6rem;
    //   }
    // }
  }
}
