.header-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 4rem 0;

    p {
        font-weight: 500;
        font-size: .8rem;
    }

    .name {
        text-transform: uppercase;
        font-size: .8rem;
    }

    .logo {
        width: 2.5rem;
    }
}