.main-nav {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 3rem;

    a {
        &:hover {
            text-decoration: underline;
        }

        &.--actif {
            font-weight: bold;
            text-decoration: underline;
        }
    }
}