@import "../../assets/style/mixins.scss";

.main-nav {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 3rem;

    a {
        color: $mainColor;
        font-size: 1.5rem;
        text-decoration-color: $mainColor;
        text-decoration-thickness: 0.2rem;

        &:hover {
            text-decoration-line: overline;
        }

        &.--actif {
            font-weight: bold;
            text-decoration-line: overline;
        }
    }
}