.employees-table {
  .table-header {
    display: flex;
    justify-content: space-between;

    .table-length {
      display: flex;
      gap: 0.5rem;
    }
  }

  .table-body {
    width: 90vw;
    margin: 1rem 0;
  }

  .table-footer {
    display: flex;
    justify-content: space-between;

    .table-controls {
      display: flex;
      gap: 0.5rem;
    }
  }

  svg {
    width: 0.5rem;
    margin-left: 0.5rem;
  }
}
