@import "../../assets/style/mixins.scss";

.employees-table {
  
  .table-header {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .table-length {
      display: flex;
      gap: 0.5rem;
    }
  }

  .table-body {
    font-size: .9rem;
    width: 90vw;
    margin: 1rem 0;
    border-collapse: collapse;
    color: black;

    .table-columns-headers {
      height: 3rem;
    }

    .table-row {
      background: $oddLight;

      &:nth-child(odd) {
        background: $oddDark;
      }

      &:hover {
        background: $secondaryColor;
      }

      .table-cell {
        padding: 0.5rem;
      }
    }
  }

  .table-footer {
    display: flex;
    justify-content: space-between;

    .table-controls {
      display: flex;
      gap: 0.5rem;
    }
  }

  svg {
    width: 0.5rem;
    margin-left: 0.5rem;
  }
}
