@import "./variables.scss" ;

body {
    font-family: 'Roboto', sans-serif;
    background-color: $neutralLight;
    color: $neutralDark;
}

main {
    display: flex;
    justify-content: center;
}

.App {
    padding: 1rem;
}

.main-btn {
    cursor: pointer;
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 0;
    background-color: $secondaryColor;
    color: $mainColor;
    font-weight: bold;
    font-size: .8rem;
    border: none;
    transition: all .2s ease-in-out;
    border-radius: 100%;
    aspect-ratio: 1;

    &:hover {
        background-color: $mainColor;
        color: $neutralLight;
    }
}

input:focus-visible {
    outline: 2px solid $mainColor;
}