@import "./variables.scss" ;

body {
    font-family: 'Roboto', sans-serif;
    background-color: $neutralLight;
    color: $neutralDark;
}

.App {
    padding: 1rem;
}

.main-btn {
    cursor: pointer;
    width: fit-content;
    padding: 0.5rem 1.5rem;
    border-radius: 0;
    background-color: $mainColor;
    color: $neutralLight;
    font-weight: bold;
    border: none;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $secondaryColor;
        color: white;
    }
}

input:focus-visible {
    outline: 2px solid $mainColor;
}